<div *ngIf="characters$ | async as characters; else loadingOrNoResults">
  <div *ngIf="characters.length > 0; else noResults" class="card-component">
    <div class="card-div" *ngFor="let character of characters">
      <div class="card-header">
        <img
          src="{{ character.image }}"
          alt="Imagem do Card"
          class="card-image"
        />
        <button class="favorite-button" (click)="onToggleFavorite(character)">
          <app-heart-outline-icon
            *ngIf="!isFavorite(character)"
            width="30"
            height="30"
          ></app-heart-outline-icon>
          <app-heart-icon
            *ngIf="isFavorite(character)"
            width="30"
            height="30"
            fill="#000000"
          ></app-heart-icon>
        </button>
      </div>
      <ul class="card-body">
        <li class="card-title title-system">
          {{ character.name }}
        </li>
        <li class="card-description">
          {{ character.species }}
        </li>
      </ul>
    </div>
  </div>
  <ng-template #noResults>
    <app-no-results-message
      [title]="noResultsTitle"
      [description]="noResultsDescription"
      [showLink]="showLink"
    ></app-no-results-message>
  </ng-template>
</div>
<ng-template #loadingOrNoResults>
  <div class="loading-or-no-results">
    <div *ngIf="loading" class="loading">Carregando...</div>
    <div *ngIf="!loading && noResultsFound" class="no-results-message">
      <app-no-results-message
        [title]="noResultsTitle"
        [description]="noResultsDescription"
        [showLink]="showLink"
      ></app-no-results-message>
    </div>
  </div>
</ng-template>
<div #loadMoreTrigger></div>
