<header class="header-component">
  <a
    routerLink="/"
    routerLinkActive="active"
    class="link"
    aria-label="Página Inicial"
  >
    <img
      src="logo.png"
      width="114"
      height="64"
      class="logo"
      alt="Logo Rick e Morty"
    />
  </a>
  <div class="navbar-area">
    <app-navbar />
    <div class="toggle-theme">
      <input
        type="checkbox"
        id="checkbox"
        class="checkbox"
        aria-label="Trocar entre tema claro e escuro"
        aria-checked="false"
        (click)="toggleTheme()"
      />
      <label for="checkbox" class="label" aria-hidden="true">
        <fa-icon [icon]="faSun" class="fa-sun" aria-hidden="true"></fa-icon>
        <fa-icon [icon]="faMoon" class="fa-moon" aria-hidden="true"></fa-icon>
        <div class="ball"></div>
      </label>
    </div>
  </div>
</header>
