.header-component {
  background-color: var(--header-background-color);
  border-bottom: var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  .navbar-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5625rem;
  }

  @media (max-width: 767px) {
    padding: 1rem 2rem;
  }

  @media (max-width: 320px) {
    padding: 1rem;

    .logo {
      width: 5.625rem;
      height: auto;
    }
  }
}
