@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Poppins:wght@400;600;700&display=swap');

:root {
  // Cores
  --gray-100: #FAFAFA;
  --gray-200: #F2F2F2;
  --gray-300: #CACACA;
  --gray-400: #A4A4A4;
  --black-100: #5D5D5D;
  --black-200: #3D3D3D;
  --black-300: #1F1F1F;
  --black-400: #0A0A0A;
  --white: #FFFFFF;
  --blue: #00B5CC;
  --green-100: #B2DF28;
  --green-200: #56C596;

  // Tipografia
  --font-family-sans: "Poppins", sans-serif;
  --font-family-system: "Creepster", system-ui;
}