@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Poppins:wght@400;600;700&display=swap');

:root {
  // Cores
  --gray-100: #CACACA;
  --gray-200: #A4A4A4;
  --black-100: #1F1F1F;
  --black-200: #3D3D3D;
  --white: #FFFFFF;
  --blue: #00B5CC;
  --green: #B2DF28;

  // Tipografia
  --font-family-sans: "Poppins", sans-serif;
  --font-family-system: "Creepster", system-ui;
}