.favorites-components {
  height: 100vh;

  @media (max-width: var(--breakpoint-sm)) {
    .favorites-components {
      padding: 0 1.25rem;
    }
  }

  @media (min-width: var(--breakpoint-sm)) and (max-width: var(--breakpoint-md)) {
    .favorites-components {
      padding: 0 1.875rem;
    }
  }
}