<div class="favorites-component">
  <h1 class="title title-system-green">Favoritos</h1>
  <button class="btn-delete" (click)="deleteAllFavorites()">
    <fa-icon [icon]="faTrash" class="fa-trash" aria-hidden="true"></fa-icon>
    Excluir Todos
  </button>

  <app-card
    [characters$]="characters$"
    [loading]="loading"
    [noResultsFound]="(characters$ | async)?.length === 0"
    noResultsTitle="Parece que você ainda não tem favoritos"
    noResultsDescription="Volte à página inicial e escolha os melhores para você."
    [showLink]="true"
    [isFavoritesPage]="true"
    (toggleFavorite)="toggleFavorite($event)"
  ></app-card>
</div>
