<div class="favorites-component">
  <h1 class="title title-system-green">Favoritos</h1>

  <ng-container *ngIf="characters$ | async as characters">
    <button
      class="btn-delete"
      *ngIf="characters.length > 0"
      (click)="deleteAllFavorites()"
    >
      <fa-icon [icon]="faTrash" class="fa-trash" aria-hidden="true"></fa-icon>
      Excluir Todos
    </button>
  </ng-container>

  <app-card
    [characters$]="characters$"
    [loading]="loading"
    [noResultsFound]="(characters$ | async)?.length === 0"
    noResultsTitle="Parece que você ainda não tem favoritos"
    noResultsDescription="Volte à página inicial e escolha os melhores para você."
    [showLink]="true"
    [isFavoritesPage]="true"
    (toggleFavorite)="toggleFavorite($event)"
  ></app-card>
</div>
