<div class="home-component">
  <app-back-to-top-btn />
  <div class="search-area">
    <h1 class="title title-system-green">Início</h1>
    <app-search-bar
      (searchInput)="onSearch($event)"
      class="search-bar"
    ></app-search-bar>
  </div>

  <app-card
    [characters$]="filteredCharacters$"
    [loading]="loading"
    [noResultsFound]="
      noResultsFound && filteredCharacters$.getValue().length === 0
    "
    noResultsTitle="Nada foi encontrado"
    noResultsDescription="Tente realizar uma nova busca."
    [showLink]="false"
    (toggleFavorite)="toggleFavorite($event)"
    (loadMore)="loadMore()"
  ></app-card>

  <div
    *ngIf="loading && filteredCharacters$.getValue().length > 0"
    class="loading"
  >
    Carregando mais personagens...
  </div>
</div>
