.home-component {
  .search-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.75rem;

    .title {
      margin-bottom: 0;
    }
  }

  @media (max-width: var(--breakpoint-sm)) {
    .home-component {
      margin: 0 1.25rem;
    }

    .search-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 3.75rem;

      .title {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: var(--breakpoint-sm)) and (max-width: var(--breakpoint-md)) {
    .home-component {
      margin: 0 1.875rem;
    }

    .search-area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 3.75rem;

      .title {
        margin-bottom: 0;
      }
    }
  }
}