.home-component {}

.search-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-component {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .card-div {
    display: flex;
    flex-direction: column;
  }

  .card-header {
    position: relative;

    .card-image {}

    .favorite-button {
      position: absolute;
      top: 2rem;
      right: 1rem;
    }
  }
}