<div class="home-component">
  <div class="search-area-component">
    <h1>Início</h1>
    <app-search-bar />
  </div>

  <div class="card-component">
    <div class="card-div" *ngFor="let character of characters">
      <div class="card-header">
        <img
          src="{{ character.image }}"
          alt="Imagem do Card"
          class="card-image"
        />
        <button class="favorite-button">
          <img src="icons/heart--outline.svg" alt="Imagem do Card" />
        </button>
      </div>
      <ul class="card-body">
        <li class="card-title">
          {{ character.name }}
        </li>
        <li class="card-description">
          {{ character.species }}
        </li>
      </ul>
    </div>
  </div>
</div>
